body {
  background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMSERUSExMVExUXGRcSGRgXFxgVFxcXGBUYFhobGhUYHSggGB8nHRYYIjIhJSkrLi4uHSAzODMtNygtLisBCgoKDg0OGxAQGi0mICU2LzctLS0vLTEtLTIwLS0vLTUtLSstLS8tKy0tLTUtKystLS0tNS0tLS0yLTUtLS0tLf/AABEIALEBHAMBIgACEQEDEQH/xAAbAAEAAQUBAAAAAAAAAAAAAAAABAECAwUGB//EAEAQAAIBAwEFBgQDBgQFBQAAAAECEQADEiEEEyIxQQUyUWFxgQYjkaEUwfAHQlJy0fFigqKxJDNDc+EVNESTwv/EABoBAQADAQEBAAAAAAAAAAAAAAABAwQCBQb/xAAuEQACAQMDAgQFBAMAAAAAAAAAAQIDEfASMUEEIVFhgbEFEzKhwSJxkeEj0fH/2gAMAwEAAhEDEQA/AOypSlaTwhSlKAUpSgFKUoBSlKAUpSgFKUoBSlKAUpSgFKUoBSlKAUpSgFKUoBSlKAUpSgFKUoBSlKAUpSgFKUoBSlKAUpSgFKUoBSlKAUpSgFKUoBSlKAUpSgFKUoBSlKAUpSgFKUoBSlKAUpSgFKUoBSlKAUpSgFKUoBSlKAUpSgFKUoBSlKAUpSgFKUoBSlKAUpSgFKUoBSlKAUpSgFKutoWIAEkmAPOr7+zshAYc9QQQQfQjQ0Js7XMVKUAnlrQgUq4oRzB+lWTQFaVc1sgAkEA8iQYPvVtAKUpQClKUBdH9tdaoR+tdKklCMQTLELg2eia8j4flVMJyAIDANkctH15Dx9OvOoud6TBj5jrrrrVI/LTXX9fnUgxGX7kkBM9QY58vTXrEVXA5AZDM4kPnooA5E9I09IpcaSNH6101/X1quPmOuuutZkXQxoFAzGXf4ug/LymrnAxk6qcsFykoZ0JEf3pcaSPH18NfDnTHzHTXXSpZtnPHIbyZ3mfDGPKftPtWNACpI0UYZrlBczrAj+1LjSYI/WuutCPz010/X5VIZdATqGDBFy1Qz1Ef351c1s5FchnqS+ehBXlPXqPPlS40kUL5iNNdYE/r7aVQD2+uuv6+lSVAjKOAESmerEDny8/ahTugmSwGBy7ms6+Hp70uNJHI/PTXSmOsSPXWOXp+VSGQyQDxAOWbPRweg8Z+9VGMZa7rKMMuKcefL7+1LjSRQPT011oR+tdKlYEYgmWITA5aIJ6+H5VQoeIAwwDZnLR+Lp4/nzpcaSPjrEjrrrB09Py60A66dNNdf1+dSGAjLXdyYXLUGOfLy51duyGCluPhKtlooA5E9OXtS40kSPf66a/r61XHpI6666/b9TWcLoY0xEPxd7i6D2/OjgY5GShyxXLVT4n6e9LjSYI66emv1qkeY++lTDbbMLl8yQQ+fCBjyn9eFYkAgkaKMcxlBYz0H6ilxpMEeY++tI/trWdwIBOqkNgMtVM9R+pq8ocyuXzJJL56EY8p+v8AtS40luw2zmCGAxhyx0ChdSSTGgrX3+1mt3Pku1q3dY3UWA5ORk5WwC1oEmQy6AHiEjXN20SbS7LblX2jF7h54WEOreEu8KFPMZdFNYuzraJ8u0OBVUFpyJMDEFubELB16FYrlrUzVTmqUWrd+zXgvTk2CbRkqtctZXtQ0MotNxGGYiGJxiYUSfAVU7RcIjeFR/DbG6UemPF9WNWVGvbQVeMZULmxHMCYmOoHXrUtJLucKU5y/Su/kZ7m0ugy3l8x4O7keeBJy9ACfKomz9tuzMBeckahUS0QVPJ2AXinx5DQcwSZisCJBkHUEciK1HaYew4v2yoRuC4rTiCzcNwFQceIw2ka5EiCTxVi3H9Jp6CvCNX/AC90/G/Y2Wwbdca2HJNxmA3iMxILfvrBMW2BmIiCB00rLtFoCGUyjAMvOWB8R0IIgjQzUTsyYcvGZds45AgBFjywVDPWZ0mBO2KSxszBM3rRJgK4jeLPSRDjzDmul2VzPUSnJxTvvZkYj9a6a/r61XHUiRpOusGs+HejTEcfF3uLp9PtNGAxyM7slsRkJB8/p7xXVzPpI/np001qhFTd22YWfm6ENkIAC+PjpUW7GkAiBBnXi6x4ClyHGxtMRi2J+XI33jIP7s9J5feqOghcjwa7nxkn97ymJ+2lT7gMgkQwy3aZCLwjmfH86tVTJI4mbHeLkPkiOa+Ea69Iqu5s0Znt6kZVubwx/wC4/eBjHGB7TGPt51iCrgcSdxPH/Fn0if8ALHvNS90uIUuRaEEXshkxy7vpz06RNXuGyyKgXAGC2shi4nvEdeZ9cRU3GnMx8ETEymXPTcRyI5jL/T7z0q9VbJsY30fNnu4nnH2mPapASMoOQYneHIfI4dcfqdfKKrgIUFiqAphcyE3DHI/f0iouNGZ7+hCKphzP4eZ/x58v10jzq9lbJco3sDcx3cRyn8p96lHKcsRvcY3OQxxy70UwEMAxZCXzcsJtGOQ/WtLjRmYuSKqmXxjLXfzyg88fvMdeWlY3VMBJP4eeH+PPWZ/1e0dan4DhBOKqV3bZibxjQH7fWqDKcgoN2ADZyGKrl3gPp6TS40ZmPcjsr5jKPxEcEd3HXn0mMo+9WKvfx5f/ACPLnOHlOUeflUrdriVDlrRyLXchkpkcI8tB6zVzLJWeEqTuxmPn8IjL1ga+dLk6cz352ILouC5E7n/pfxZE65acpmfaKykPvJMfiei6Y48vSYnry86kqDlkFyuHAPbyEWxHMeHT0mrN2MMcybcTv8hIOXd9P60uRpzMXJFVBiwU/L/6x6gj+Hynlz86MghMjwf9DxJkd/ymJ5eVTWBmSMWBfBMh84RzPjNUCmZAyLY5rkPkcPMeEflS40Znt67EdVfMkR+IjiB7uOntMY9axqiYHEn8PPGf3g+kRp/L08ZqXuxiFLkWwARfyEscu76an0irmBnIri4DAWchDie8R15n1xFLjTmffx4IbJqmXPT8PHJhpGX+nw69KuVWybGN/HzAe6F05f6Z19KlYamOLInM5D/h+HXE9Ik6/wCGqC2ICliqDDG7kJuHXhP39IpcnTme/G25CwTCAT+HmSf38/SPTpEedGQ5Ll/zIXcgcio5ZflMedTWB72EPiRuMhiRl3o/XKrTb7wByBLZvkJsmNQD9vOpuRozMW7IgUy+Pfg74HkAeeP3mJ8qj7btNqzZNx5Ozgyg03ly7Hcj6z0A16E1L7Q2q3Zt7y6zKiFcGUgvtBiQoHU6ewmdATXnnbHar7TczeFAkIi922p6DxJgS3U+AAA7hFyZRWqRpLvvws49+DFa7d3199+rYvczutbMM1u2gVLChtBbDEk/xAsPGd9Z7e2RbFx8rqv824AyBpMsUHCT0xX2rk92QS4U4AQxA0UliVk9MuP6Vl7V7PbZw9oy7BRc1HMuguwPRmgelWuEdkZo15tapbdt/O/+jsdkuLsyra2pmsrA3TENdZ1A5NgCA4ETxGefjE7sza9mu7Stu3eZ87dxTCPaMhrbgBj5K/LWth209u7+Fsuq3LO0l0nWQwsNftsrA8Ji2+vpXG9qdkX+zryXxN23bYOtwCDHIpcA0QspZcu6Z6EhaywanHS33PUrxlRqqpCK0873Xjzt6HRdpdhLs2V1HvCyAWYAm6bZ5k4OTkh1yiCOYMSRA2jt7YipUptDhgVOlsAgiD1mug+F9rN19sbIvb36NaJ5bt9j2a4I8pdj7mvO/ibZ12fbrtlQFtllNsDkpa2rlPSSxXoBppAnqg03pZX16cI/MhbzK/DXxTbtF7BtC8yhTJuFSILJxKo6BUWPBR41s9o+LbhKFbNlAjrcGKnM4nVcydMlLLy5Ma5OwDvGxEqrYv5M67z7iKmVohCLXc8/qK9SEk090nxyj1B8W3bSCpCts0cmBAZcvLVfD+lyq2ZKgG/HGp7oXTUefd69dPLU/A237zZzYIlrTRMwUtXMiHBPIqwcegFb8WxAXMqoxIv5Cbhnuz7+PSs77OxvjaaUlzn22vsQhbTAgE/h5lm/fD6QAI/l6Uu23MSEiAE4iJT906fnU0g97CGggbPKwwy70f8AjpV6WdW+Yx1JIDrwH+H2qLk/LvmfxuSHsmYJLFi5V8V+SI5VRbJJgSpUrk+K/O4eVSDaWGgDEli4xMsSOnj95puhwyAVBXAYmVIXr4faubmnTmZxsRBb4Q2BKQALOC8Jy70fWrnsN3SxLnIi9ivAJ7v+9SRbMzw7yFBbEwVy5DX161a1lcSMRu+PJcWkmeY+/TXSKXGjMxcGHdGTAK4k5jFfn8P96C3EEqWUlMbeK/K051Ja0JEgEgnDhPDw9fv4dKJbgyIDnHM4mGA8NfXxilydGZnO5FOzt3cjnjO+xXln3auNuZIUqoL5JivztOdZjYXDHEbv+HEzOU8vCfKrmtyZMFhlgcTCgjrr/SaXI0ZmPkji3EEqWBK4rivyeHn7VbuG7uRDgAm9ivEMu7UtbepIgMSMzieKFjT7eNWblcQMRu+GFxMg5c48OXTxpcaMzERzb0LBCEGQNnFeMz3quNkg6y2ROJxX5PDUhrZmeHeQ2LYmAJGh19OuutVFoSYAAJOfCeLh6fbx60uTozM5Iy2WmASrDAtcxX5g8Ks3YwywbdwRucFknPvRUndLCggYDDAYmVI5T9ugjrVTbMzw7yCAYMY5THP060uRozMfJgeyZgyzEvg+Ai0I0H651RbBmBKlcc2wX5wx1AqRul4gAMSWLiDJJGsUNpeEEDEFcBBkEL1pcaMzONiKLYxDFCbcKBZwWVOXeq5rDTiSS5DFbuC8Anu1JFszPDvIUEwYiToNfXr4VabK4kQN2c8hDSTOsff7RS40ZmLgw7okmAVgnPgX53D0+9UFvQMUJQ4Y2sB8s+JqS1sSMgCQeDQ6cPX7/ai29ZGOZCZmDBAnl9/zpcnRmZyRTYbu5HeYki9gsAZd2tf212lb2ZC7gqMnXdYrO0NHMeA6zUjtzb7OzWCzgG2ZVbeoZ7hMwJ6aEk+GteXdq9ovtF03bhljoAOSqOSqOg/8nrVlODn+xj6qvGirc5nmO1O0rm0XM7hGgxRB3La/wqPpJ5n2AEMn1PoJJ9AOZqtdJ8CdmC7tG9YcFmG5EzcYwg9tW8iFrW2oRPIpxlXqJN92dP2Z8NLb2JrN1S28VmvKolmcgQEadMIABHUTzNa39onZJwTalHcAtXPEJzQn0YkGP4vAV2jWzMnHeQ+JgwBI56+n3itf8RXUtbLtDkLGDhww0dmTFV10MkqPeKxKbUrnvToRlTcNkQvhO0t3YdidwGNu2joT+6wttakeeLMPc1Zc7auvmq27aqGe3Lk3MsHZDKAKBOJ0yNRvg7sB9n2Zrl27cslhnjlw20UEyyOCoY82MToB0Na3te5eS47WmSHupbwuWmDLKI9y8YuDgAuIWELrOssAaakbN2N3SSjKK+YuDf8Aw3tAUfhsETEM6bsFUK58QCEnDEuNJiCIiIHB/FOwXds7RvbPZ7zOkNEhFt2rWTk9AHET4kCCdK7G12YU2gKLrXnxD3QzC0lu0clUKttc+N1JgkhhbaW0UVqNg2xti2d9obZ1F3aWN5EJNsImY3aumIKQbq6QTL68jHVOWm7KeqpKrJRiu17/AMf2Yts7EOz9lTctql9rwa4RzMXGtpr1GBEep865VBLKg1ZiEVdJZmIAAnxJFbvtbtXaNti1cuQrsilbYwA4hxTqxI1IBaJ6VI+EewXub6+ALRW7eTZf3kVUsi3bZgDrLs1wyZyQSZ0q5V9CtbuY6vw5VWpXtFJLx2I/wPtot7ZbB7t0NZIPLiGS6dTkoX/Ma9JFoQCUJtnHG1gJQzzNeU9rbMuxkWrSplZxvBrl2020XmRpUJazL27auuIBGpWWbQk+vWmVouW4lghkzBQ6jymJqJy1fqHT0vlp0272/PvngYDYacZJuwYu4CFGXd9ayWba8XBByMkoOI6Sw8jVxsriVgbvikcUzlJ8451JSdZjnpHh5+fOq7mlR75nqXUpSoLRSlKAUpSgFKUoBSlKAUpSgFKUoBSlKAUpSgFW3HCgsSAACSToABqSTV1cr+0HtHd7OLYMG4YP8qxP1JX1GVTFXdjipNQi5Pg4j4m7YO1Xy+oRZW2p6LPOOhMAn2GsCtVSlejFJKyPl6lR1JOUt2UJr1z4M2Dc7HbBEM43reMvrB8wuK+1eU7Js+9uW7R5XHS2fR3Cn7E17jWfqJbI9P4XT+qfoaj4m7VfZrWaJmdNT3RqNGgyMhkAQDrGhJAPNr2/2hcRS2z7KhhWxZncq0A6gQAQfAn1rsu0djF621tiQGiYgmAQYhgRBiOVcB8V9iNswXdbaLOTKi728xMO6oPlsTvMZkYlfAzzrI78Hu0vl99Zdb7c265D3xZtoCpwYlASRIkYtJV4iGgwdO61ZexOwXv3Xu7Q9x00V1cYLdMZMBaOqpLQwY64hICqKv7D+DTsjNtN7aW2u8ASGdDAOhVVUuxUZAGFgkx4AV1+y2cEC69SSYksxLMTGkkknTSubFmpbRVvc0FnZr1i9u0JuXLqJN0gAE28gS/PFVVrY5ayOZJqd2r8MnaLeL7Q5cKVyK28RliSQqqDzRSOKQVGvOdh2QMgbxMs5I/lVSQE9tSZ1yJ5aASdt2y3ZQ3LjBEXmT/t5k9ANTUqJS5/Y8p+JuybuxNaAuJddpuAgG3BtspErLaEnlOoBrRf+tbfYv73ZbrbpnDNYcWyqzow/wAQGsNKtos8q2nxB2qdq2h7xBAMIgPNUWYnzJJY/wA0axWvraunTS1bniVPilSM3GFnHz/6SNu7TvbQWa6w42DlQqYqQAq45AlWxABZTJ8YAA9U+Db2ew2DzhN3/wDWTb//ADXkdeo/s6b/AIBB4PeH1vOfzqK0FGKsOgrTqVpanx+f7OlpSlZT2BSlKAUpSgFKUoBSlKAUpSgFKUoBSlKAUpSgFKUoBXmX7SbxN7n3StkDzKh8o8t6Z9K9NryX472Zn29sT3DvY/iUbOS0eYXi/wAsVbR+q5j667pWXJogKrVSRA09/GqVuPnTZfDQ/wCM2f8A7i17JXh/Zm2C3tNkkxi9u4f5FuLkfYH717hWTqPqR7nwt/42vP8ACOf+L7+0LbAsMLeUjONcpGKye4G4lyjQkcjE+VbW+8zSGZ2kOWJyU8uNzJyHufbWvbdv2c3LT2wQCylZZcwJESVkZek1w3avwoLSM5QhVBZrlliXgDV3tsDm2nPjY1nTsetGKkrXs/c0XaHxJtd+4Pm7pUxfG2BiXDBlyY8TxjJGgII0rsez/jTZXsC67hHlka0Jd1dDiwCKMis8miIIOlcHsewORKvYbLj1u4vxagMuJghYET0qzY9lMuhe0CGaVVmu3BLtrukWYJBjUTRuJKpVVwdB2j8bNG92O1hlDM11gAyx3t0NMoEAllIgZSBFc1tfaN3aGzvPcZuYFwFcQZEqkAAGOaiDHM0YizdIT5jcyblp7S2nEGRac8bNIMkwpE65VjdixLMxZjzZjJP9B5CAOlaaEXvbseN8TqQto1PVylt6+ZSlKVqPFFeqfs/tFdgtz1a63sbzx9orzC3stxjCIWYsEGhjNjABPTX6V7R2ZsYs2bdkai2ipPjiAJ94ms3UPsker8LpvVKfoSaUpWU9kUpSgFKUoBSlKAUpSgFKUoBSlKAUpSgFKUoBSlKAVynxX2JdN+1tuzANdtQGQnHNQTyJ0BhmUzzDf4QD1dKlOxxOCmrM887d+CmI32yKQGGRsNCshOpCEmB/ITA1gxArjbiFWKMCrDmrAqw9VOor3WoXanZNnaFxvW1cDkToyz/C41X2NXQrtdmYeo+HwqPVDs/seWfDXZabW93Z2gFrRdGicXRlA9QRcYEdRPLnXqHYNy6bCC+pW6vy31BDFdM1I5hhDDrrBAIIHLWvhW5se12r9gm7aD4spjeKrgoTpAdRllpB4Ro2prua5qyUndFvR0nThaS7r78/kVo/ji6U7N2x15rYusNSNRbJ5ggjl0INbyo3aeyi7Zu2jqLiPbPoylfzqo2Hmn7Ju2X23aL7XdRZtKACxYfNYyYP/a56nU61rLvbj/im2m0cRcYpA4RuzAt9NDwoNI7x8ax/sKt7wbeklGuWbADRqJ/ECQOsE12K/s3QiG2hiOULbUae5Nd01BJplHVOtOcZw4ffb9va5wW1XW3jvck5kNkMiO6F1LMzfuzJMa8+lY7heUxXhcZ5nkVmAVHMyZhuWh5xFej3PgC0lvg2i7IBOVzG4PHUKFP3rhBsLWX2e/tFgIt10dUJMXkMStxdOOCWxYSB/mAtjWsrGWt0CqTck+7/AILdk2W5d/5Vt7nTgVmAPmQIHvW82L4L2y5EotoeNxxMeSplPoYr1FMVAUQANABoAB0gcqyVD6iXBEPhlJfU28zk5/4b+Fk2XjZzduHXI6KpIglUkwSNJJJ56gGK6ClKpbbd2ehCEYLTFdhSlKg6FKUoBSlKAUpSgFKUoBSlKAUpSgFKUoBSlKAUpSgOX2vt57t3d2QRaDG21wMAzurKGt29GggGdYJEkFQMqzXksrfFoKwaVGW/uC8ZEghZyuIOpJjQ84MYfiS/dsi4lsuGvOroba7x4UW0upu8WPcUkPGILAMV0Jwdi9vNbsi2bVy/cEJat2rJQ4KigB7jRZVpDEwwAEQNKE27XN4bl2wJdjetDm8AXE82CAK6+gBEcm1iXs+227jMqOrlYyCkGJkCY/lP0rQ/D/ZW2KLty9f3b3nNzcoBdt2QRyRmUEt4nuzrjJYtI7O7OTZQV2UhkUKj2i+RXBAq4Mx4DiBwEheoxJYsIN9So2ybalxFdTAYSJiftofUSDzBI1qQGmgK0pSgOE+Guz7uzdo3VNpxawuhXgYFTcRrcEHnjIiOc10+1dqFe7bY/QD+v2rZss1YLC+A99am/icTTf0uxo02naLndAQemR++lTbPZxYfN+ZyMOAwkcjj0rZ0qWzmNKzu22WqgHSrqUrktFKUoBSlKAUpSgFKUoBSlKAUpSgFKUoBSlKAUpSgFKUoBSlKA1F3YLge44uhd5zItzdVQIVVdmKgDU9yJZjEkmtdZ2bcXXe2pkgKjXLr3FRYljgWLF8idBAKqoyGtdORVgsr4CpOXfg5lzccmA7zzlrhU+qBt2B5R9edZLfZlxoDW0IHdBS2Qv8AKCOH2rpqVOryKvktu7kzX2NkfmxH+9TbaR1q+lRctjFIVC7QvOhBHdgk8tI11JqbSiJkro1+3bW644jRgY0JbKNB4Dn9jVGvutkPOpIM+AOusjQdP6VsaUuc6X4mG5kVGoHLIzyHWKjptDbgPzkZSeinUGANdIqdSlyWiF+JZbRdoJ5KAOZnFdesmPDnWTY9pDiNclgNIiDqNY0nSfceNSYpS4Sae4pSlQdClKUApSlAKUpQClKUApSlAKUpQClKUApSlAKUpQClKUApSlAKUpQClKUApSlAKUpQClKUApSlAKUpQClKUB//2Q==');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;

.container {
font-weight: bold;
padding: 10px;
border: groove pink 16px;
border-radius: 7px;
width: 450px;
margin: 30px 550px 50px;
background-color: skyblue;
height: 600px;
color: blue;
}

.Commission {
font-weight: bold;
padding: 10px;
border: groove pink 16px;
border-radius: 7px;
width: 450px;
margin: 30px 550px 50px;
background-color: skyblue;
height: 1000px;
}

.comm:hover {
  background: #ffb6df;
  transform: scale(1.06);

}
.term:hover {
  background: #ffb6df;
  transform: scale(1.06);
}
.aboutBtn:hover {
  background: #ffb6df;
  transform: scale(1.06);
}
.terms {
font-weight: bold;
padding: 10px;
border: groove pink 16px;
border-radius: 7px;
width: 450px;
margin: 30px 550px 50px;
background-color: skyblue;
height: 1000px;
}

}
ul.nav{
  list-style:none;
}
a {
text-decoration: none;
}

.aboutBtn {
    
display: inline-block;
background: #ffd6ec;
font-family: "Poppins", sans-serif;

width: 450px;
   padding: 4px;
    height: 20px;
     margin: 0px 5px 3px;
    margin-top: -200px;
    margin-left: -45px;
   
text-align: center;
}
.comm {

display: inline-block;
background: #ffd6ec;
font-family: "Poppins", sans-serif;
    padding: 4px;
     width: 450px;
   height: 20px;
     margin: 0px 5px 3px;
     font-weight: 600;
     text-align: center;
     transition: all .2s ease;
    margin-left: -45px;
}
.term {
    
display: inline-block;
background: #ffd6ec;
font-family: "Poppins", sans-serif;
    padding: 4x;
    width: 458px;
   height: 25px;
   height: 25px;
    margin: 0px 5px 3px;
text-align: center;
margin-left: -45px;
}

.Image {
    border: 4px Solid #ffb6d9;
    background-color: white;
    margin-left: 140px;
    margin-top: 20px;
    width: 200px;
    height: 175px
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 15px;
font-family: "Comic Sans MS", "Comic Neue", cursive;
}

.p2 {
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}

.p4 {
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}

h1 {
    text-align: center;
    
}
.Miku {
    border: none;
    background-color: white;
    margin-top: 20px;
    margin-left: 140px;
    width: 200px;
    height: 200px;
}





}